<meta charset="ISO-8859-1">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
<title>Credential Update</title>

<div>
    <form th:action="@{/credentialUpdate}" th:object="${credentials}" method="post">
       <!-- <input type="textro" name="id" th:value="${emp.id}" readonly=""> -->
        <input type="text" name="credentialId" th:value="${credentials.credentialId}">
        <input type="text" name="url" th:value="${credentials.url}">
        <input type="text" name="credUserName" th:value="${credentials.credUserName}">
        <input type="text" name="credPassword" th:value="${credentials.credPassword}">
        <button type="submit">Update</button>
    </form>
</div>